{% load static %}
{% include "include/head.html" %}
{% include "include/header_02.html" %}
{% include "include/sub_visual.html" %}


<!-- content -->
<section class="sub_container" >
	<div class="wrap">
		<div class="sub_contents">

			<div class="solution id">

				<div class="title">
					<h2>업무자동화(RPA) 툴(Klicker)</h2>
					<p>
						인터넷 공간에 나만의 아바타가 존재하여 내가 하고싶어 하는 것을<br>
						알아서 척척 해 줄수 있는 그 나만의 인공지능!! 클리커!!
					</p>
				</div>
				<img src="{% static "img/contents/solution01.jpg" %}">

				<ul class="frontier">
					<li>
						<dt><img src="{% static "img/contents/download_01.png" %}"></dt>
						<dd>
							<p>Community</p>
							Blog, Cafe
						</dd>
					</li>
					<li>
						<dt><img src="{% static "img/contents/download_02.png" %}"></dt>
						<dd>
							<p>Shopping</p>
							Coupang, 11st, Interpark
						</dd>
					</li>
					<li>
						<dt><img src="{% static "img/contents/download_03.png" %}"></dt>
						<dd>
							<p>Social Network</p>
							Fackbook, Instagram
						</dd>
					</li>
					<li>
						<dt><img src="{% static "img/contents/download_04.png" %}"></dt>
						<dd>
							<p>Internet portal</p>
							Google, Naver, Daum
						</dd>
					</li>
				</ul>

				<div class="arrow_ani">
					<div class="chevron"></div>
					<div class="chevron"></div>
					<div class="chevron"></div>
				</div>

				<div class="step">
					<ul>
						<li>
							<dl>
								<dt>
									<img src="{% static "img/contents/solution07.jpg" %}">
								</dt>
								<dd>
									<span>Point 01</span>
									<p class="tit">인터넷에서 발생되는 반복적인 작업을 클리커에게 맞겨 보세요</p>
									<p>
										매일 사이트를 방문하여 상품을 진열하고 게시하고 질문하고 답변하고....<br>
										그럲다면... 이건...
									</p>
									<br>
									<p>
										이런일들을 조금이라도 줄일 수 있는 방법이 있다면요?
									</p>
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>
									<img src="{% static "img/contents/solution09.jpg" %}">
								</dt>
								<dd>
									<span>Point 02</span>
									<p class="tit">유저들의 주문이나 질문을 인지하고 AI에 답을 찾아 드립니다.</p>
									<p>
										클리커를 통해 포털, SNS, 쇼핑몰, 블로그, 카페 등을 나만의 레시피로 소통할 수 있습니다. <br>
									</p>
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>
									<img src="{% static "img/contents/solution10.jpg" %}">
								</dt>
								<dd>
									<span>Point 03</span>
									<p class="tit">VPN(Virtual Private Network)</p>
									<p>
										OpenVPN과의 연결을 통해 수만개의 서버를 경유하여 인터넷을 만날 수도 있습니다.<br>
										Klicker로부터 발생된 신호를 SMS, Email, SmartPhone과 연결할 수 있습니다.
									</p>
								</dd>
							</dl>
						</li>
					</ul>
				</div>


			</div>



		</div>
	</div>
</section>
<!-- //content -->


{% include "include/footer.html" %}
{% include "include/foot.html" %}
