{% load static %}
{% include "include/head.html" %}
{% include "include/header.html" %}

<!-- content -->
<section id="fullpage" class="main_container" >



		<!-- 첫번째화면 -->
		<div class="section section1" data-anchor="section1">
			<div class="wrap">

				<div class="cont_txt">
					<h1>
						CHAGAUN <br><span class="point_c1">EMAIL</span> MARKETING<br>
						& RPA SOLUTION
					</h1>
					<div class="text">
						<p>
							이메일 파인더를 통해 카페·블로그·쇼핑몰에 공개된 다양한 아이디들을 먼저 확보합니다.
						</p>
						<p>
							아이디 검증기를 통해 포털, 쇼핑몰에 해당 아이디가 존재하는지 검증하여 이메일 마케팅을 시작할 수 있습니다. 
						</p>
						<br><br>
						<h3 style="color:rgb(255, 0, 0);">
							차가운에서 무료로 서비스하는 업무자동화 툴(RPA툴)을 경험해 보세요.<br><br>
							웹사이트의 자동화툴 - 마케팅의 출발선상에 클리커(Klicker)가 있습니다.
						</h3>
					</div>
				</div>

			</div>
			<div class="dim"></div>
		</div>
		<!-- 첫번째화면 -->


		<!-- 두번째화면 -->
		<div class="section section2" data-anchor="section2">
			<div class="wrap">

				<div class="cont_txt">
					<div class="sub">
					클리커-업무자동화툴<br>
					Klicker-RPA
					</div>
					<div class="text">
					일상의 단순하고 반복적인 인터넷 업무를 나만의 맞춤 설정을 통해 시간과 비용을 줄일 수 있습니다.
					</div>
				</div>

				<div class="box_list">
					<ul>
						<li>
							<span>01</span>
							<dl>
								<dt>
									<div>
										<img src="{% static "img/main/icon_04.png" %}">
										<img src="{% static "img/main/icon_04_on.png" %}" class="on">
									</div>
									<p>클리커 - 업무자동화</p>
								</dt>
								<div class="line"></div>
								<dd>
									<p>단순하고 반복적인 인터넷 업무를 대신합니다.</p>
									<p>...</p>
									<p>나만의 맞춤 레시피를 탑제하여 다양한 업무에 적용할 수 있습니다.</p>
								</dd>
							</dl>
						</li>
						<li>
							<span>02</span>
							<dl>
								<dt>
									<div>
										<img src="{% static "img/main/icon_05.png" %}">
										<img src="{% static "img/main/icon_05_on.png" %}" class="on">
									</div>
									<p>인공지능 알고리즘</p>
								</dt>
								<div class="line"></div>
								<dd>
									<p>인터넷상의 고객 질문에 AI 알고리즘이 답변을 대신합니다.</p>
									<p>...</p>
									<p>쇼핑몰의 주문이나 질문이 이메일, 문자, 스마트폰과 연계될 수 있도록 지원합니다.</p>
								</dd>
							</dl>
						</li>
						<li>
							<span>03</span>
							<dl>
								<dt>
									<div>
										<img src="{% static "img/main/icon_03.png" %}">
										<img src="{% static "img/main/icon_03_on.png" %}" class="on">
									</div>
									<p>VPN(Virtual Private Network)</p>
								</dt>
								<div class="line"></div>
								<dd>
									OpenVPN상의 수많은 서버 아이피를 그대로 활용할 수 있습니다.
								</dd>
							</dl>
						</li>
					</ul>
				</div>

				<div class="cont_mobile">
					<a href="/ShopFinder"><span class="button btn03">더보기</span></a>
				</div>

			</div>
		</div>
		<!-- 두번째화면 -->


		<!-- 세번째화면 -->
		<div class="section section3" data-anchor="section3">
			<div class="wrap">

				<div class="cont_txt">
					<h2>이메일솔루션</h2>
					<div class="sub">
						쇼핑몰이나, SNS에서 특정 상품에 질의·리뷰·댓글과 관련된 아이디들을 추천한다면?
					</div>
					<div class="text">
						특정 상품에 관심을 보이는 유저들을 차가운넷이 가지고 있는 인공지능 알고리즘을 통해 해당 아이디들을 추천해 드립니다.
					</div>
				</div>

				<div class="box_list">
					<ul>
						<li>
							<span>01</span>
							<dl>
								<dt>
									<div>
										<img src="{% static "img/main/icon_04.png" %}">
										<img src="{% static "img/main/icon_04_on.png" %}" class="on">
									</div>
									<p>키워드 입력</p>
								</dt>
								<div class="line"></div>
								<dd>
									차가운 쇼핑툴을 사용하여 쿠팡·네이버쇼핑<br>
									다음쇼핑·11번가·G마켓·옥션·인터파크와 같은<br>
									국내 대형 전자상거래 업체를 대상으로 자신이<br>
									판매하고자 하는 상품에 대한 키워드를 입력합니다.
								</dd>
							</dl>
						</li>
						<li>
							<span>02</span>
							<dl>
								<dt>
									<div>
										<img src="{% static "img/main/icon_05.png" %}">
										<img src="{% static "img/main/icon_05_on.png" %}" class="on">
									</div>
									<p>인공지능 알고리즘</p>
								</dt>
								<div class="line"></div>
								<dd>
									차가운 이메일파인더(쇼핑몰파인더, SNS파인더)는 키워드와<br>
									관련된 상품에 대한 질의·리뷰를 등록한 유저와 관련된 아이디들을<br>
									발굴하여 추천해 드립니다. 여기에는 차가운넷에서<br>
									가지고 있는 인공지능 알고리즘이 활용됩니다.
								</dd>
							</dl>
						</li>
						<li>
							<span>03</span>
							<dl>
								<dt>
									<div>
										<img src="{% static "img/main/icon_03.png" %}">
										<img src="{% static "img/main/icon_03_on.png" %}" class="on">
									</div>
									<p>마케팅</p>
								</dt>
								<div class="line"></div>
								<dd>
									쇼핑몰이나 SNS에서 특정 상품에 질문과 후기를 단 사람들은<br>
									구매할 확률이 높다고 볼 수 있지 않을까요?<br>
									차가운 쇼핑몰파인더(ShopFinder), SNS파인더(SNSFinder)를<br>
									통해 추천받을 수 있습니다.
								</dd>
							</dl>
						</li>
					</ul>
				</div>

				<div class="cont_mobile">
					<a href="/ShopFinder"><span class="button btn03">더보기</span></a>
				</div>

			</div>
		</div>
		<!-- 세번째화면 -->



		<!-- 다섯번째화면 -->
		<div class="section section4" data-anchor="section4">
			<div class="wrap">

				<div class="cont_txt">
					<h2>아이디퍼널</h2>
					<div class="sub">
						특정 사이트에서<br>
						아이디를 검증할 수 있다면?
					</div>
					<div class="text">
						<p style="width=400px;">쇼핑몰, SNS를 통해 획득한 아이디들을 가지고
						포털이나, 쇼핑몰, SNS에서 이 아이디들의 존재 여부를 검증해볼 수 있습니다.</p>
					</div>
					<a href="/IdFunnel"><span class="button btn01">더보기</span></a>
				</div>

				<div class="box_list">
					<ul>
						<li>
							<span>01</span>
							<img src="{% static "img/main/box_bg_01.jpg" %}" class="box_bg">
							<dl>
								<dt>
									<div>
										<img src="{% static "img/main/icon_01.png" %}">
										<img src="{% static "img/main/icon_01_on.png" %}" class="on">
									</div>
									<p>아이디 확보</p>
								</dt>
								<div class="line"></div>
								<dd>
									차가운에서 서비스하고 있는 쇼핑몰 파인더, <br>
									SNS 파인더를 통해 구매 의향을 보인 이용자들과 <br>
									관련된 아이디들을 확보합니다.<br>
								</dd>
							</dl>
						</li>
						<li>
							<span>02</span>
							<img src="{% static "img/main/box_bg_01.jpg" %}" class="box_bg">
							<dl>
								<dt>
									<div>
										<img src="{% static "img/main/icon_02.png" %}">
										<img src="{% static "img/main/icon_02_on.png" %}" class="on">
									</div>
									<p>아이디 검증</p>
								</dt>
								<div class="line"></div>
								<dd>
									아이디 검증툴을 사용해 수집된 아이디들이<br>
									네이버·다음·구글과 같은 대형 포털사의 메일<br>
									도메인으로 존재하는지 확인받을 수 있습니다.<br>
									페이스북·인스타그램처럼 메일을 가지고<br>
									있지 않은 사이트 및 대형 전자상거래<br>
									업체에서도 아이디 검증이 가능합니다.
								</dd>
							</dl>
						</li>
						<li>
							<span>03</span>
							<img src="{% static "img/main/box_bg_01.jpg" %}" class="box_bg">
							<dl>
								<dt>
									<div>
										<img src="{% static "img/main/icon_03.png" %}">
										<img src="{% static "img/main/icon_03_on.png" %}" class="on">
									</div>
									<p>마케팅</p>
								</dt>
								<div class="line"></div>
								<dd>
									검증된 아이디들을 대상으로<br>
									구글·페이스북·인스타그램에서 특정 유저들을<br>
									대상으로 한 타깃 광고를 할 수 있습니다.<br>
									차가운넷이 제공하고 있는 쇼핑·블로그툴과<br>
									연동하여 보다 강화된 마케팅을 할 수 있습니다.
								</dd>
							</dl>
						</li>
					</ul>
				</div>

				<div class="cont_mobile">
					<a href="/IdFunnel"><span class="button btn01">더보기</span></a>
				</div>

			</div>
		</div>
		<!-- 다섯번째화면 -->


		<!-- 여섯번째화면 -->
		<div class="section section5" data-anchor="section5">
			<div class="wrap">

				<div class="cont_txt">
					<h1>Contact us</h1>
					<div class="text">
						AI 마케팅 연구소 '차가운'에 문의하세요!
					</div>
					<ul class="contact_list">
						<a href="/Contact/Board"><li>공지 사항</li></a>
						<a href="/Mypage/QnA"><li>문의 및 내역</li></a>
						<a href="/Guide/Terms"><li>이용 약관</li></a>
						<a href="/Contact/HowToUseIdFunnel"><li>파인딩툴 사용방법</li></a>
					</ul>

				</div>

				<div class="img"></div>

			</div>
		</div>
		<!-- 여섯번째화면 -->



		<!-- 일곱번째화면(footer) -->
		<div class="section section7" data-anchor="section7">
			{% include "include/footer.html" %}
		</div>
		<!-- 일곱번째화면(footer) -->



</section>
<!-- //content -->


{% include "include/foot.html" %}


<script type="text/javascript">
$(document).ready(function() {
    $('#fullpage').fullpage({
        //options here
        licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
        autoScrolling:true,
        scrollHorizontally: false,
				scrollingSpeed:700,
				navigation:true,
				navigationPosition:'right',
				showActiveTooltip:true,
				slidesNavigation:true,
				loopBottom:false,
				fitToSection:true,
				menu: '#myMenu',
				controlArrows: true,
				scrollBar: true,
				responsiveWidth: 860,
				afterRender: function(anchorLink, index){
					new WOW().init();
				},
				onLeave: function(origin, destination, direction){
				var leavingSection = this;

				//after leaving section 2
				if(origin.index == 0 && direction =='down'){
					$('#header').addClass('black');
					$('#fp-nav').addClass('black');
				}

				if(origin.index == 1 && direction =='down'){
					$('#header').removeClass('black');
					$('#fp-nav').removeClass('black');
				}else if(origin.index == 1 && direction == 'up'){
					$('#header').removeClass('black');
					$('#fp-nav').removeClass('black');
				}

				if(origin.index == 2 && direction =='down'){
					$('#header').addClass('black');
					$('#fp-nav').addClass('black');
				}else if(origin.index == 2 && direction == 'up'){
					$('#header').addClass('black');
					$('#fp-nav').addClass('black');
				}

				if(origin.index == 3&& direction =='down'){
					$('#header').addClass('black');
					$('#fp-nav').addClass('black');
				}else if(origin.index == 3 && direction == 'up'){
					$('#header').removeClass('black');
					$('#fp-nav').removeClass('black');
				}

				if(origin.index == 4&& direction =='down'){
					$('#header').addClass('white');
					$('#fp-nav').addClass('white');
				}else if(origin.index == 4 && direction == 'up'){
					$('#header').addClass('black');
					$('#fp-nav').addClass('black');
				}

				if(origin.index == 5 && direction =='up'){
					$('#header').removeClass('white');
					$('#fp-nav').removeClass('white');
				}

		}
    });
});
</script>
