{% load static %}
{% include "include/head.html" %}
{% include "include/header_02.html" %}
{% include "include/sub_visual.html" %}


<!-- content -->
<section class="sub_container" >
	<div class="wrap">
		<div class="sub_contents">

			<div class="solution id">

				<div class="title">
					<h2>특정 사이트에서 아이디 검증</h2>
					<p>
						카페·블로그·SNS 등을 통해 획득한 아이디들을 마케팅을 하고자 하는<br>
						포털사이트·SNS·쇼핑몰 등에 해당 아이디가 존재하는지를 검증해 볼 수 있습니다.
					</p>
				</div>
				<img src="{% static "img/contents/solution01.jpg" %}">

				<ul class="frontier">
					<li>
						<dt><img src="{% static "img/contents/download_01.png" %}"></dt>
						<dd>
							<p>Community</p>
							Blog, Cafe
						</dd>
					</li>
					<li>
						<dt><img src="{% static "img/contents/download_02.png" %}"></dt>
						<dd>
							<p>Shopping</p>
							Coupang, 11st, Interpark
						</dd>
					</li>
					<li>
						<dt><img src="{% static "img/contents/download_03.png" %}"></dt>
						<dd>
							<p>Social Network</p>
							Fackbook, Instagram
						</dd>
					</li>
					<li>
						<dt><img src="{% static "img/contents/download_04.png" %}"></dt>
						<dd>
							<p>Internet portal</p>
							Google, Naver, Daum
						</dd>
					</li>
				</ul>

				<div class="arrow_ani">
					<div class="chevron"></div>
					<div class="chevron"></div>
					<div class="chevron"></div>
				</div>

				<div class="step">
					<ul>
						<li>
							<dl>
								<dt>
									<img src="{% static "img/contents/solution07.jpg" %}">
								</dt>
								<dd>
									<span>Point 01</span>
									<p class="tit">아이디 확보</p>
									<p>
										자신이 운영하거나 관리하고 있는 웹사이트, 카페, 블로그, 쇼핑몰로부터<br>
										회원들의 아이디들을 확보합니다.
									</p>
									<br>
									<p>
										쇼핑몰파인더, SNS파인더를 통해 차가운AI가 추천한 아이디들을 수집합니다.
									</p>
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>
									<img src="{% static "img/contents/solution08.jpg" %}">
								</dt>
								<dd>
									<span>Point 02</span>
									<p class="tit">아이디 검증</p>
									<p>
										차가운의 아이디퍼널(IdFunnel)를 이용하여 아이디를 검증합니다.
									</p>
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>
									<img src="{% static "img/contents/solution09.jpg" %}">
								</dt>
								<dd>
									<span>Point 03</span>
									<p class="tit">추출된 아이디 조합</p>
									<p>
										아이디퍼널(IdFunnel)를 통해 추출된 아이디와 국내 주요 포털 사이트의 메일 도메인을 결합하여 메일 아이디를 조합합니다. <br>
										<br>
										[아이디 : blue, jango19 입력] [도메인 : naver.com, kaokao.com, gmail.com을 입력] 한 경우,<br>
										<span class="block">blueblue@naver.com</span> <span class="block">jango19@naver.com</span> <span class="block">blueblue@kaokao.com</span> <span class="block">jango19@kaokao.com</span>
										<span class="block">blueblue@gmail.com</span> <span class="block">jango19@gmail.com</span>의 조합을 얻을 수 있습니다.
									</p>
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>
									<img src="{% static "img/contents/solution10.jpg" %}">
								</dt>
								<dd>
									<span>Point 04</span>
									<p class="tit">아이디 검증</p>
									<p>
										구글, 페이스북, 인스타그램의 아이디로 사용되고 있는지 검증을 해볼 수 있습니다.<br>
										이를 통해 내가 원하는 유저들에게만 광고를 내보낼 수 있습니다.
									</p>
								</dd>
							</dl>
						</li>
					</ul>
				</div>


			</div>



		</div>
	</div>
</section>
<!-- //content -->


{% include "include/footer.html" %}
{% include "include/foot.html" %}
