{% load static %}
<!--visual-->
	<div class="main_visual">
		<ul id="main_img">

			<li class="v_01">
				<a href="javascript:void(0);">
					<div class="dim">
					</div>
					<div class="visual_inner">
						<!-- <div class="text">
							<p class="eng wow fadeInDown" data-wow-duration="800ms" data-wow-delay="100ms">
								Architects & Engineers
							</p>
							<h2 class="wow fadeInDown" data-wow-duration="800ms" data-wow-delay="300ms">
								Good <span>Design</span> Good <span>Business</span>
							</h2>
							<p class="line wow fadeInDown" data-wow-duration="800ms" data-wow-delay="300ms"></p>
							<p class="sub_txt wow fadeInDown" data-wow-duration="800ms" data-wow-delay="500ms">
								신한남건축사사무소는 디자인 담당전문 건축사가 주축이 되는<br />
								전담 디자이너 시스템의 특성을 지니고 있습니다.
							</p>
						</div> -->
						<div class="v_img">
							<p>
								<img src="{% static "img/main/m_visual_01_s.jpg" %}">
							</p>
						</div>
					</div>
				</a>
			</li>
			<li class="v_02">
				<a href="javascript:void(0);">
					<div class="dim">
					</div>
					<div class="visual_inner">
						<!-- <div class="text">
							<p class="eng wow fadeInDown" data-wow-duration="800ms" data-wow-delay="100ms">
								Architects & Engineers
							</p>
							<h2 class="wow fadeInDown" data-wow-duration="800ms" data-wow-delay="300ms">
								당신의 정직한 사업파트너, <span>신한남</span>
							</h2>
							<p class="line wow fadeInDown" data-wow-duration="800ms" data-wow-delay="300ms"></p>
							<p class="sub_txt wow fadeInDown" data-wow-duration="800ms" data-wow-delay="500ms">
								다년간의 경험을 바탕으로 고객님들의 요구사항을 충족하는 <br />
								설계로 만족도를 높이겠습니다.
							</p>
						</div> -->
						<div class="v_img">
							<p>
								<img src="{% static "img/main/m_visual_02_s.jpg" %}">
							</p>
						</div>
					</div>
				</a>
			</li>
			<li class="v_03">
				<a href="javascript:void(0);">
					<div class="dim">
					</div>
					<div class="visual_inner">
						<!-- <div class="text">
							<p class="eng wow fadeInDown" data-wow-duration="800ms" data-wow-delay="100ms">
								Architects & Engineers
							</p>
							<h2 class="wow fadeInDown" data-wow-duration="800ms" data-wow-delay="300ms">
								<span>Creativity, Innovation, Leadership</span>
							</h2>
							<p class="line wow fadeInDown" data-wow-duration="800ms" data-wow-delay="300ms"></p>
							<p class="sub_txt wow fadeInDown" data-wow-duration="800ms" data-wow-delay="500ms">
								24년간의 경험을 바탕으로 건축에 대한 철학을 가지고,<br>
								만족도 높은 공간을 만들겠습니다.
							</p>
						</div> -->
						<div class="v_img">
							<p>
								<img src="{% static "img/main/m_visual_03_s.jpg" %}">
							</p>
						</div>
					</div>
				</a>
			</li>
			<li class="v_04">
				<a href="javascript:void(0);">
					<div class="dim">
					</div>
					<div class="visual_inner">
						<!-- <div class="text">
							<p class="eng wow fadeInDown" data-wow-duration="800ms" data-wow-delay="100ms">
								Architects & Engineers
							</p>
							<h2 class="wow fadeInDown" data-wow-duration="800ms" data-wow-delay="300ms">
								<span>Creativity, Innovation, Leadership</span>
							</h2>
							<p class="line wow fadeInDown" data-wow-duration="800ms" data-wow-delay="300ms"></p>
							<p class="sub_txt wow fadeInDown" data-wow-duration="800ms" data-wow-delay="500ms">
								24년간의 경험을 바탕으로 건축에 대한 철학을 가지고,<br>
								만족도 높은 공간을 만들겠습니다.
							</p>
						</div> -->
						<div class="v_img">
							<p>
								<img src="{% static "img/main/m_visual_03_s.jpg" %}">
							</p>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</div>

<script type="text/javascript">
  $(document).ready(function(){

$('#main_img').bxSlider({

  mode: 'horizontal',
  auto: true,
  autoControls: true,
  pager:true,
  pause: 4000,
  speed : 1000,
  slideMargin: 0

});

  });
</script>
<!--//visual-->
