			<div class="guide_table terms">
				<ul>
					<li>
						<dt>제4장 계약당사자의 의무</dt>
						<dd>
							<div>제19조 (회사의 의무)</div>
							<ul class="number">
								<li>회사는 본 서비스 제공과 관련하여 알게 된 회원의 개인정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다. 단, 관계법령에 의한 수사상의 목적으로 관계기관으로부터 요구 받은 경우나 방송통신심의위원회의 요청이 있는 경우 등 법률의 규정에 따른 적법한 절차에 의한 경우에는 그러하지 않습니다.</li>
								<li>본 조 제1항의 범위 내에서, 회사는 업무와 관련하여 회원의 사전 동의 없이 회원 전체 또는 일부의 개인정보에 관한 통계자료를 작성하여 이를 사용할 수 있고, 이를 위하여 회원의 컴퓨터에 쿠키를 전송할 수 있습니다. 이 경우 회원은 쿠키의 수신을 거부하거나 쿠키의 수신에 대하여 경고하도록 사용하는 컴퓨터의 브라우저의 설정을 변경할 수 있으며, 쿠키의 설정 변경에 의해 본 서비스 이용이 변경되는 것은 회원의 책임입니다.</li>
								<li>회사는 본 서비스와 관련한 회원의 불만사항이 고객센터를 통하여 접수되는 경우 이를 신속하게 처리하여야 하며, 신속한 처리가 곤란한 경우 그 사유와 처리 일정을 본 서비스 화면에 게재하거나 E-mail 등을 통하여 동 회원에게 통지합니다.</li>
								<li>회사는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 통신비밀보호법, 전기통신사업법 등 본 서비스의 운영, 유지와 관련한 법규를 준수합니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제20조 (회원의 의무)</div>
							<ul class="number">
								<li>
									회원은 본 서비스를 이용할 때 다음 각 호에 해당하는 행위를 하여서는 아니 됩니다.
									<div class="number_sub">
										<p>① 판매부적합 상품을 구매하는 행위</p>
										<p>② 회사가 제공하는 서비스 이용방법에 의하지 아니하고 비정상적인 방법으로 본 서비스를 이용하거나 시스템에 접근하는 행위</p>
										<p>③ 이용신청 또는 변경 시, 허위 사실을 기재하거나 다른 회원의 ID 및 비밀번호, 카드정보, 계좌정보 등을 도용하거나 부정하게 사용하는 행위</p>
										<p>④ 회사의 직원이나 운영자를 가장하거나 사칭하여 또는 타인의 명의를 도용하여 글을 게시하거나 메일을 발송하는 행위</p>
										<p>⑤ 타인으로 가장하는 행위 및 타인과의 관계를 허위로 명시하는 행위</p>
										<p>⑥ 다른 회원의 개인정보를 무단으로 수집, 저장, 공개하는 행위</p>
										<p>⑦ 타인의 명예를 손상시키거나 불이익을 주는 행위</p>
										<p>⑧ 회사 또는 제3자의 저작권 등 기타 권리를 침해하는 행위</p>
										<p>⑨ 게시판 등에 음란물을 게재하거나 음란사이트를 연결(링크)하는 행위</p>
										<p>⑩ 수치심이나 혐오감 또는 공포심을 일으키는 말이나 음향, 글이나 화상 또는 영상을 계속하여 상대방에게 도달하게 하는 행위</p>
										<p>⑪ 스토킹(stalking) 등 다른 회원을 괴롭히는 행위</p>
										<p>⑫ 자기 또는 타인에게 재산상의 이익을 주거나 타인에게 손해를 가할 목적으로 허위의 정보를 유통시키는 행위</p>
										<p>⑬ 공공질서 및 미풍양속에 위반되는 내용의 부호ㆍ문자ㆍ소리ㆍ화상ㆍ동영상 기타 정보 형태의 글, 사진 및 각종 파일과 링크 등을 타인에게 유포하는 행위</p>
										<p>⑭ 본 서비스 운영을 고의로 방해하거나 본 서비스의 안정적 운영을 방해할 수 있는 정보 및 수신자의 명시적인 수신거부의사에 반하여 광고성 정보를 전송하는 행위</p>
										<p>⑮ 본 서비스와 관련된 설비의 오동작이나 정보 등의 파괴 및 혼란을 유발시키는 컴퓨터 소프트웨어, 하드웨어, 전기통신 장비의 정상적인 가동을 방해, 파괴할 목적으로 고안된 소프트웨어 바이러스, 기타 다른 컴퓨터 코드, 파일, 프로그램을 포함하고 있는 자료를 등록?판매?게시하거나 E-mail로 발송하는 행위</p>
										<p>16 관련 법령에 의하여 그 전송 또는 게시가 금지되는 정보(컴퓨터 프로그램 포함)의 전송 또는 게시 행위</p>
										<p>17 본 서비스의 임의 해지, 재가입 등을 반복적으로 행함으로써 회사가 제공하는 할인쿠폰, 이벤트 혜택 등의 경제상의 이익을 불?편법으로 수취하는 행위</p>
										<p>18 기타 불법적이거나 부당한 행위</p>
									</div>
								</li>
								<li>회원은 관계 법령, 본 약관의 규정, 이용안내 및 본 서비스 상에 공지한 주의사항, 회사가 통지하는 사항 등을 준수하여야 하며, 기타 회사의 업무에 방해되는 행위를 하여서는 아니 됩니다.</li>
								<li>회원은 회사에서 공식적으로 인정한 경우를 제외하고는 본 서비스를 이용하여 상품을 판매하는 영업 활동을 할 수 없으며 특히 해킹, 광고를 통한 수익, 음란사이트를 통한 상업행위, 상용소프트웨어 불법전송 등을 할 수 없습니다. 이를 위반하여 발생한 영업 활동의 결과 및 손실, 관계기관에 의한 구속 등 법적 조치 등에 관해서는 회사가 책임을 지지 않으며, 이와 같은 행위로 인하여 회사에게 손해가 발생한 경우, 회원은 회사에 대하여 손해배상 의무를 집니다.</li>
								<li>회원이 본 조 제1항에 명시된 행위를 한 경우에 회사는 부가적으로 제공한 혜택의 일부 또는 전부의 회수, 특정 서비스의 이용제한, 이용계약의 해지, 손해배상의 청구 등의 조치를 할 수 있습니다.</li>
								<li>회사가 본 조 제4항에 정한 조치를 할 경우 회사는 사전에 회원에게 유선 또는 E-mail로 통보하며, 회원의 연락이 두절되거나 긴급을 요하는 것과 같이 부득이한 경우, 선 조치 후 사후 통보할 수 있습니다.</li>
								<li>회원은 본 조 제4항에 의한 회사의 조치에 대하여 항변의 사유가 있는 경우 이에 대하여 항변을 할 수 있습니다.</li>
								<li>본 조 제4항에 의하여 회사가 회원과의 이용계약을 해지하더라도, 해지 이전에 이미 체결된 매매계약의 완결에 관해서는 본 약관이 계속 적용됩니다.</li>
								<li>본 조 제4항에서 정한 바에 따라 이용계약이 종료될 시에는 회사는 별도 통지 없이 해당 회원과 관련된 거래를 취소할 수 있고, 구매회원이 상품의 결제를 신용카드로 결제한 경우에는 그 신용카드매출을 취소할 수 있습니다.</li>
								<li>본 조 제4항에서 정한 바에 따라 이용계약이 종료되는 경우 회원의 재이용신청에 대하여 회사는 그 승낙을 거절할 수 있습니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제21조 (회원에 대한 통지)</div>
							<ul class="number">
								<li>회원에 대한 통지를 하는 경우 회사는 회사가 발급한 E-mail 주소 또는 회원이 등록한 E-mail 주소 또는 SMS 등으로 할 수 있습니다.</li>
								<li>회사는 불특정 다수 회원에 대한 통지의 경우 본 서비스 게시판 등에 게시함으로써 개별 통지에 갈음할 수 있습니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제22조 (ID와 PASSWORD 관리에 대한 의무와 책임)</div>
							<li>회원은 자신의 ID와 Password 관리를 철저히 하여야 합니다. ID와 Password의 관리 소홀, 부정 사용에 의하여 발생하는 모든 결과에 대한 책임은 회원 본인에게 있습니다. </li>
							<li>회원은 본인의 ID 및 Password를 타인에게 이용하게 해서는 안되며, 회원 본인의 ID 및 Password를 도난 당하거나 타인이 사용하고 있음을 인지하는 경우에는 바로 회사에 통보하고 회사의 안내가 있는 경우 그에 따라야 합니다.</li>
						</dd>
						<dd>
							<div>제23조 (개인정보의 변경, 보호)</div>
							<ul class="number">
								<li>회원은 이용신청 시 기재한 사항이 변경되었을 경우에는 즉시 변경사항을 최신의 정보로 수정하여야 합니다. 단, 이름, 회원 ID 등 변경이 불가능한 사항은 수정할 수 없습니다.</li>
								<li>수정하지 않은 정보로 인하여 발생하는 손해는 당해 회원이 부담하며, 회사는 이에 대하여 아무런 책임을 지지 않습니다.</li>
								<li>
									회사는 회원의 정보를 본 서비스를 제공하기 위한 목적 이외의 용도로 사용하거나 회원의 동의 없이 제3자에게 제공하지 않습니다. 단, 다음의 경우는 예외로 합니다.
									<div class="number_sub">
										<p>① 판매자에게 거래 내역, 정산 내역 제공 등에 필요한 최소한의 회원정보(아이디,성명,연락처 등)를 제공하는 경우</p>
										<p>② 법령이 회원의 개인정보의 이용과 제3자에 대한 정보제공을 허용하고 있는 경우</p>
									</div>
								</li>
								<li>회사는 관련법령이 정하는 바에 따라서 회원 등록정보를 포함한 회원의 개인정보를 보호하기 위하여 노력합니다. 회원의 개인정보보호에 관해서는 관련 법령 및 회사가 정하는 개인정보취급방침에 정한 바에 의합니다. 회원이 본 약관 및 개인정보취급방침에 동의하는 것은 그에 정한 바에 따라 개인정보의 수집, 이용, 제공, 취급위탁, 보호정책 등에 동의하는 것으로 봅니다.</li>
								<li>회사는 수집된 개인정보의 취급 및 관리 등의 업무를 스스로 수행함을 원칙으로 하나, 필요한 경우 위 업무의 일부 또는 전부를 회사가 선정한 회사에 위탁할 수 있습니다.</li>
							</ul>
						</dd>
					</li>
				</ul>
			</div>
