			<div class="guide_table terms">
				<ul>
					<li>
						<dt>제 1장 총칙</dt>
						<dd>
							<div>제1조 (목적)</div>
							<p>본 약관은 차가운(이하 “회사”라함)가 운영하는 모바일 컨텐츠 전자상거래 서비스인 차가운(이하 “본서비스”라함)를 이용함에 있어 디지털 컨텐츠를 거래하는 회원 간의 기본적인 사항을 규정하고, 회원 또는 회원과 회사간의 권리, 의무, 책임사항 및 서비스 이용조건을 규정함으로써 회원의 권익을 보호하는 것을 목적으로 합니다.</p>
						</dd>
						<dd>
							<div>제2조 (약관의 효력 및 변경)</div>
							<ul class="number">
								<li>본 약관은 본 서비스를 이용하고자 하는 모든 회원에 대해서 그 효력을 발생합니다.</li>
								<li>본 약관의 내용은 본 서비스의 인터넷 홈페이지(http://www.chagaun.net/ 이하 "홈페이지"라 함) 또는 스마트폰 앱을 통해 화면에 게시하거나 기타의 방법으로 회사가 회원에게 공지하고, 회원이 이에 동의를 함으로써 효력이 발생합니다.</li>
								<li>회사는 필요하다고 인정되는 경우 본 약관을 변경할 수 있습니다. 회사가 약관을 변경할 경우에는 적용일자 및 변경사유를 명시하여 본 조 제2항과 같은 방법으로 그 적용일자 7일 전부터 공지합니다. 다만, 회원에게 불리한 약관의 변경인 경우에는 그 적용일자 30일 전부터 공지하며, E-mail, SMS 등으로 회원에게 개별 통지합니다. (회원의 연락처 미기재, 변경 등으로 인하여 개별 통지가 어려운 경우에 한하여 홈페이지에 변경 약관을 공지함으로써 개별 통지 한 것으로 간주합니다.)</li>
								<li>회사가 본 조 제3항에 따라 변경 약관을 공지 또는 통지하면서, 회원이 약관 변경 적용일 까지 거부의사를 표시하지 아니하는 경우 약관의 변경에 동의한 것으로 간주한다는 내용을 공지 또는 통지하였음에도 회원이 명시적으로 변경된 약관의 효력 발생일까지 약관 변경에 대한 거부의사를 표시하지 아니하면 회원이 변경 약관에 동의한 것으로 간주합니다. 회원은 변경된 약관에 동의하지 않을 경우 본 서비스 이용을 중단하고 이용계약을 해지할 수 있습니다.</li>
								<li>본 약관에 동의하는 것은 회사가 운영하는 본 서비스의 홈페이지를 정기적으로 방문하여 약관의 변경사항을 확인하는 것에 동의함을 의미합니다. 변경된 약관에 대한 정보를 알지 못하여 발생하는 회원의 피해에 대하여 회사는 책임이 없습니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제3조 (약관 외 준칙)</div>
							<ul class="number">
								<li>본 약관에 명시되지 않은 사항은 전기통신기본법, 전기통신사업법, 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 전자상거래 등에서의 소비자보호에 관한 법률 등 관계법령 및 회사가 정한 서비스의 세부이용지침 등의 규정에 의합니다.</li>
								<li>회사는 필요한 경우 특정 서비스에 관하여 적용될 사항(이하 “개별약관”이라 함)을 정하여 이를 제2조 제2항의 방법에 의하여 공지할 수 있습니다.</li>
								<li>회사는 필요한 경우 본 서비스 이용과 관련된 세부이용지침을 정하여 이를 제2조 제2항의 방법에 의하여 공지할 수 있습니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제4조(용어의 정의)</div>
							<ul class="number">
								<li>
									본 약관에서 사용하는 용어의 정의는 다음 각 호와 같습니다.
									<div class="number_sub">
										<p>① 본 서비스: 모바일 컨텐츠 전자상거래 서비스인 차가운 서비스를 이용하는 것을 말합니다. (제1조 정의에 명시)</p>
										<p>② 상품: 회사에서 제공하는 양식에 맞추어 판매회원이 판매 또는 전송을 위하여 등록한 프로그램 또는 컨텐츠</p>
										<p>③ 회원: 홈페이지에 접속하여 본 약관에 동의하고, ID(고유번호)와 Password(비밀번호)를 발급 받아 본 서비스를 이용할 수 있는 개인이나 법인 고객</p>
										<p>④ ID(고유번호): 회원 식별과 회원의 본 서비스 이용을 위하여 회원이 선정하고 회사가 승인하는 영문자와 숫자의 조합</p>
										<p>⑤ PASSWORD(비밀번호): 회원의 정보 보호를 위해 회원 자신이 설정한 문자와 숫자의 조합</p>
										<p>⑥ 운영자: 본 서비스의 전반적인 관리와 원활한 운영을 위하여 회사가 선정한 자</p>
										<p>⑦ 게시물: 회원이 본 서비스를 이용함에 있어, 본 서비스상에 게시한 부호ㆍ문자ㆍ소리ㆍ화상ㆍ동영상 기타 정보 형태의 글, 사진 및 각종 파일과 링크</p>
										<p>⑧ SMS 인증: 이동전화로 SMS 난수를 발송, 고객이 해당 번호를 홈페이지에 등록하도록 함으로써 회원 인증을 하는 것</p>
										<p>⑨ 실명 인증: 회원의 이름과 주민등록번호(외국인회원의 경우는 이름과 외국인등록번호, 사업자회원은 상호명과 사업자등록번호)의 일치 여부를 확인하는 것</p>
										<p>⑩ E-Mail 인증: 회사가 회원이 입력한 E-Mail주소로 인증용 E-Mail을 발송하고, 고객이 해당 E-Mail을 통해 홈페이지에 접속 하도록 함으로써 해당 E-Mail 주소의 유효성을 확인하는 것</p>
									</div>
								</li>
								<li>본 약관에서 사용하는 용어의 정의는 본 조 제1항에서 정하는 것을 제외하고는 관계 법령 및 서비스 별 안내에서 정하는 바에 의합니다.</li>
							</ul>
						</dd>
					</li>					
				</ul>
			</div>
