			<div class="guide_table terms">
				<ul>
					<li>
						<dt>제6장 손해배상 등</dt>
						<dd>
							<div>제25조 (손해배상)</div>
							<ul class="number">
								<li>회원이 본 약관의 규정을 위반함으로 인하여 회사에 손해가 발생하게 되는 경우, 본 약관을 위반한 회원은 회사에 발생하는 모든 손해를 배상할 책임이 있습니다.</li>
								<li>회원이 본 서비스를 이용함에 있어 행한 불법행위나 본 약관 위반행위로 인하여 회사가 당해 회원 이외의 제3자로부터 손해배상 청구 또는 소송을 비롯한 각종 이의제기를 받는 경우 당해 회원은 자신의 책임과 비용으로 회사를 면책 시켜야 하며, 회사가 면책되지 못한 경우 당해 회원은 그로 인하여 회사에 발생한 모든 손해를 배상하여야 합니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제26조 (면책사항)</div>
							<ul class="number">
								<li>회사는 천재지변 또는 이에 준하는 불가항력으로 인하여 본 서비스를 제공할 수 없는 경우에는 본 서비스 제공에 관한 책임이 면제됩니다.</li>
								<li>회사는 회원의 귀책사유로 인한 본 서비스의 이용장애에 대하여 책임을 지지 않습니다.</li>
								<li>회사는 회원이 본 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않습니다. 다만 소비자의 권리와 주장이 정당한 경우 수익을 상실한 것에 대해 100% 미만의 일정률을 환산하여 보상합니다. 회사는 회원이 홈페이지에 게재한 정보, 자료, 사실의 신뢰도 및 정확성 등 내용에 대하여서도 책임을 지지 않습니다.</li>
								<li>회사는 회원 상호간 또는 회원과 제3자 상호간에 본 서비스를 매개로 발생한 분쟁에 대해서는 개입할 의무가 없으며 이로 인한 손해를 배상할 책임이 없습니다.</li>
								<li>회원이 자신의 개인정보를 타인에게 유출 또는 제공함으로써, 발생하는 피해에 대해서 회사는 일절 책임을 지지 않습니다.</li>
								<li>상품 또는 정보 등을 통해 표현하거나 드러나는 회원의 견해와 회사의 견해는 무관하며, 회사는 회원이 제공하는 상품 또는 정보 등에 대하여 어떠한 책임도 부담하지 아니합니다.</li>
								<li>본 서비스 화면에서 링크, 배너 등을 통하여 연결된 회사(이하 피연결회사)와 회원간에 이루어진 거래에 회사는 개입하지 않으며, 해당 거래에 대하여 책임을 지지 않습니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제27조 (관할법원)</div>
							<ul class="number">
								<li>서비스 이용과 관련하여 회사와 회원 사이에 분쟁이 발생한 경우, 회사와 회원은 분쟁의 해결을 위해 성실히 협의합니다.</li>
								<li>본 조 제1항의 협의에서도 분쟁이 해결되지 않아 소송이 제기되는 경우에는 서울중앙지방법원을 1심 관할법원으로 합니다.</li>
							</ul>
						</dd>
						<dd>
							<div>부칙</div>
							<p>(시행일) 본 약관은 2020 년 05 월 01 일부터 시행합니다.</p>
						</dd>
					</li>
				</ul>
			</div>
