			<div class="guide_table terms">
				<ul>
					<li>
						<dt>제5장 계약해지 및 이용제한</dt>
						<dd>
							<div>제24조 (계약해지 및 이용제한)</div>
							<ul class="number">
								<li>
									회원은 다음 각 호에서 정한 바에 따라 이용계약을 해지할 수 있습니다.
									<div class="number_sub">
										<p>① 회원은 언제든지 회사에 이용계약 해지의 의사를 통지함으로써 이용계약을 해지할 수 있습니다. 단, 해지의사를 통지하기 전에 현재 진행 중인 모든 상품의 거래를 완료하거나 철회 또는 취소하여야 하며, 거래의 철회 또는 취소로 인한 불이익은 회원 본인이 부담하여야 합니다.</p>
										<p>② 회원탈퇴로 인해 발생한 불이익에 대한 책임은 회원 본인이 져야 하며, 이용계약이 종료되면 회사는 회원에게 부가적으로 제공한 각종 혜택을 회수할 수 있습니다.</p>
										<p>③ 회원이 임의 해지, 재가입 등을 반복적으로 행함으로써 회사가 제공하는 할인쿠폰, 이벤트 혜택 등의 경제상의 이익을 불?편법으로 수취하거나 이 과정에서 타인의 명의를 도용하는 등의 불?편법 행위를 차단하기 위하여 회사는 회원의 회원탈퇴 후 3개월 동안 해당 회원의 ID, 성명, 탈퇴일자, 탈퇴사유 등 개인정보를 보관합니다.</p>
									</div>
								</li>
								<li>회사는 회원이 제20조에 규정한 회원의 의무를 이행하지 않을 경우 사전 통지 없이 즉시 이용계약을 해지하거나 또는 해당 회원의 본 서비스 이용을 제한할 수 있습니다.</li>
								<li>회사는 회원 가입 후 6개월 동안 본 서비스 사용 이력이 없는 회원에 대해 사용의사를 묻는 고지를 하고, 회사가 정한 기한 내에 답변이 없는 경우 이용계약을 해지할 수 있습니다.</li>
								<li>본 조 제2항 및 제3항의 회사 조치에 대하여 회원은 회사가 정한 절차에 따라 이의신청을 할 수 있습니다.</li>
								<li>본 조 제4항의 이의가 정당하다고 회사가 인정하는 경우, 회사는 즉시 본 서비스의 이용을 재개합니다.</li>
							</ul>
						</dd>
					</li>
				</ul>
			</div>
