			<div class="guide_table terms">
				<ul>
					<li>
						<dt>제3장 서비스 이용</dt>
						<dd>
							<div>제7조 (서비스의 제공 등)</div>
							<p>회사는 회원에게 다음 각 호의 서비스를 제공합니다.</p>
							<ul class="number">
								<li>
									전자상거래 서비스: 회사가 홈페이지를 통하여 회원간에 상품의 거래가 이루어질 수 있도록 온라인 거래장소를 제공하는 서비스 및 관련 부가서비스를 말합니다.
									<div class="number_sub">
										<p>가. 판매관련 지원서비스</p>
										<p>나. 구매관련 지원서비스</p>
										<p>다. 계약체결, 결제 지원서비스</p>
										<p>라. 상품검색정보 서비스</p>
										<p>마. 기타 전자상거래관련 서비스</p>
										<p>바. 본 서비스의 광고 및 프로모션 서비스</p>
									</div>
								</li>
								<li>기타 서비스: 문의 게시판 서비스, 상품평?전문가 리뷰 등 기타 정보제공 서비스, 회사가 직접 또는 제휴사와 공동으로 제공하는 이벤트 서비스를 말합니다 .</li>
							</ul>
						</dd>
						<dd>
							<div>제8조 (대리행위)</div>
							<ul class="number">
								<li>
									회사는 구매자에서 서비스를 제공하고 판매컨텐츠의 운영 및 관리를 맡습니다. 회사가 판매하는 상품에 대해서 회사는 판매자로서의 책임을 다합니다.<br>
									단, 회원 사이에 성립된 거래에 관련된 책임과 회원이 제공한 정보에 대한 책임은 해당 회원이 직접 부담합니다.
								</li>
								<li>회사는 본 서비스를 통하여 이루어지는 구매자와 판매자 간의 거래와 관련하여 판매의사 또는 구매의사의 존부 및 진정성, 등록상품의 품질, 완전성, 안정성, 적법성 및 타인의 권리에 대한 비침해성, 구매자 또는 판매자가 입력하는 정보 및 그 정보를 통하여 링크된 URL에 게재된 자료의 진실성 또는 적법성 등 일체에 대하여 보증하지 아니하며, 이와 관련한 일체의 위험과 책임은 해당 회원이 전적으로 부담합니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제9조 (서비스의 제공 기간과 이용시간)</div>
							<ul class="number">
								<li>회사의 회원에 대한 본 서비스 제공 기간은 회원의 본 서비스 이용신청에 대하여 회사의 이용 승낙이 있은 날로부터 본 서비스 이용계약의 해지 또는 본 서비스 종료 시까지 입니다.</li>
								<li>서비스의 이용은 연중무휴 1일 24시간을 원칙으로 합니다. 단, 장비사용의 문제, 천재지변의 문제로 서비스 이용이 한시적으로 제한될 수 있습니다.</li>
								<li>회사는 서비스를 일정범위로 분할하여 각 범위 별로 이용 가능한 시간을 별도로 정할 수 있으며 이 경우 그 내용을 공지합니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제10조 (상품의 구매)</div>
							<ul class="number">
								<li>회원은 상품을 구매하기 전에 반드시 판매회원이 홈페이지 내에 작성한 상품의 상세 내용과 거래의 조건을 정확하게 확인한 후 구매를 하여야 합니다. 구매하려는 상품의 내용과 거래의 조건을 확인하지 않고 구매하여 발생한 모든 손해에 대한 책임은 회원 본인에게 있습니다.</li>
								<li>상품의 구매계약은 회원이 판매회원이 제시한 상품의 판매 조건에 응하여 구매의 의사표시를 함으로써 체결됩니다.</li>
								<li>회사는 회원이 휴대폰, 신용카드 등 기타의 방법으로 상품 판매 대금을 결제할 수 있는 방법을 제공합니다.</li>
								<li>상품 판매 대금의 결제와 관련하여 구매회원이 입력한 정보 및 그 정보와 관련하여 발생한 책임과 불이익은 전적으로 구매회원이 부담하여야 합니다.</li>
								<li>회사는 구매회원의 상품 구매 계약 체결 내용을 나의 구매 내역을 통해 확인할 수 있도록 조치합니다.</li>
								<li>회사는 구매회원이 상품 판매 대금 결제 시 사용한 결제수단에 대해 정당한 사용권한을 가지고 있는지의 여부를 확인할 수 있으며, 이에 대한 확인이 완료될 때까지 거래진행을 중지하거나, 확인이 불가한 해당거래를 취소할 수 있습니다.</li>
								<li>상품은 구매일과 상관없이 재 다운로드 받을 수 있으며(특정 상품군별로 재 다운로드 기간은 별도로 정해질 수 있습니다.) 그 이후의 구매회원의 훼손, 삭제 등으로 인한 손실에 대하여 회사나 판매회원은 책임지지 않습니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제11조 (상품의 결제)</div>
							<ul class="number">
								<li>판매회원은 상품의 가격을 정하고, 회사는 판매회원의 상품 가격 결정에 대하여 협의하여 결정합니다.</li>
								<li>구매회원은 컨텐츠이용시 포인트를 지불하여야 합니다.</li>
								<li>구매회원은 상품 결제 시에 결제대행사에 지급하여야 하는 결제대행수수료를 포함하여 결제합니다. 결제대행수수료는 결제대행사가 구매자가 상품을 결제하는데 소요되는 비용입니다.</li>
								<li>회사가 필요하다고 인정한 경우, 회사는 본 조 제1항 내지 제2항에 규정된 사항을 변경할 수 있습니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제12조 (환불에 관한 규정)</div>
							<ul class="number">
								<li>
									본 서비스를 통하여 구매회원이 구매하는 디지털 상품은 구매 즉시 이용 가능한 상태가 되거나 이용하는 것으로 볼 수 있으므로 그 상품의 성격상 그리고 관계법령(전자상거래등에서의 소비자보호등에 관한 법률상의 청약철회 불가 사유 해당 등)상 구매 후에는 환불이 불가합니다.
									다만, 상품의 기능상 중대한 오류로 인하여 해당 상품의 본래 이용목적의 달성이 현저히 곤란하거나 불가능한 경우, 구매회원은 이미 구매 완료된 상품이라도 회사의 고객센터에 환불 요청을 할 수 있습니다. 고객센터는 환불 요청을 판매회원에게 전달하며 판매회원은 해당 환불 요청에 대해 심사하여 그 결과를 구매회원 및 회사에게 통보합니다. 위 심사결과에 따라 환불이 결정된 경우, 회사는 이용자에게 상품 판매 대금을 환불 조치 합니다.
								</li>
								<li>환불을 요청하는 구매회원은 객관적인 입증자료를 회사 고객센터에 제공하여 상품의 하자 등 환불사유를 증명하여야 합니다.</li>
								<li>환불 요청 기간은 관련법령(전자상거래등에서의 소비자보호등에 관한 법률)에서 규정하는 기간에 따릅니다.</li>
								<li>단, 이용자로부터 받은 재화가 디지털 상품으로 구매되지 않고 포인트의 형태로 있을 경우 3영업일 이내에 이미 지급받은 재화등의 대금취소가 가능합니다.</li>
								<li>청약철회등의 경우 공급받은 재화등의 반환에 필요한 비용은 이용자가 부담합니다. 차가운는 이용자에게 청약철회등을 이유로 위약금 또는 손해배상을 청구하지 않습니다. 다만 재화등의 내용이 계약내용과 다르게 이행되어 청약철회등을 하는 경우 재화 반환에 필요한 비용은 차가운가 부담합니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제13조 (서비스의 변경 및 중지)</div>
							<ul class="number">
								<li>회사는 본 서비스를 변경하여 제공할 수 있습니다. 이 경우 회사는 변경될 서비스의 내용 및 제공일자를 제21조 제2항에서 정한 방법으로 회원에게 통지합니다.</li>
								<li>
									회사는 다음 각 호에 해당하는 경우 본 서비스의 전부 또는 일부를 제한하거나 중단할 수 있습니다.
									<div class="number_sub">
										<p>① 서비스용 설비의 보수 등 공사로 인한 부득이한 경우</p>
										<p>② 회원이 회사의 영업활동을 방해하는 경우</p>
										<p>③ 정전, 제반 설비의 장애 또는 이용량의 폭주 등으로 정상적인 서비스 이용에 지장이 있는 경우</p>
										<p>④ 서비스 제공업자와의 계약 종료 등과 같은 회사의 제반 사정으로 본 서비스를 유지할 수 없는 경우</p>
										<p>⑤ 기타 천재지변, 국가비상사태 등 불가항력적 사유가 있는 경우</p>
									</div>
								</li>
								<li>본 조 제2항에 의해 본 서비스를 중단하는 경우에는 회사가 제21조 제2항에서 정한 방법으로 이용자에게 통지합니다. 다만, 회사가 통제할 수 없는 사유로 인한 본 서비스의 중단(운영자의 고의, 과실이 없는 디스크 장애, 시스템 다운 등)으로 인하여 사전 통지가 불가능한 경우에는 그러하지 아니합니다.</li>
								<li>회사는 본 서비스의 변경, 중지로 발생하는 문제에 대해서 어떠한 책임도 지지 않습니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제 14조 (서비스 이용료)</div>
							<ul class="number">
								<li>회사는 본 서비스의 일부 특정 서비스 또는 기능을 제공하는 데 대해 이용료를 부과할 수 있습니다.</li>
								<li>본 조 제1항의 이용료에 관하여는 본 조 및 개별 약관 또는 별도 신청서에서 정하는 바에 따릅니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제15조 (정보의 제공 및 광고의 게재)</div>
							<ul class="number">
								<li>회사는 본 서비스를 운영함에 있어 각종 정보를 서비스 화면에 게재하거나 E-mail 및 서신 우편 등의 방법으로 회원에게 제공할 수 있습니다.</li>
								<li>회사는 회원의 동의 하에 본 서비스의 운영과 관련하여 홈페이지, 서비스 화면, SMS, E-mail 등을 통하여 광고 등을 게재할 수 있습니다.</li>
								<li>회원이 본 서비스상에 게재되어 있는 광고를 이용하거나 본 서비스를 통한 광고주의 판촉활동에 참여하는 등의 방법으로 교신 또는 거래를 하는 것은 전적으로 회원과 광고주 간의 문제입니다. 만약 회원과 광고주간에 분쟁이 발생하는 경우에도 회원과 광고주가 직접 해결하여야 하며, 이와 관련하여 회사는 어떠한 책임도 지지 않습니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제16조 (게시물 또는 내용물의 삭제)</div>
							<ul class="number">
								<li>
									회사는 회원이 게시하거나 전달하는 모든 게시물이 다음 각 호의 경우에 해당한다고 판단되는 경우 사전통지 없이 삭제할 수 있으며, 이에 대해 회사는 어떠한 책임도 지지 않습니다.
									<div class="number_sub">
										<p>회사, 다른 회원 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우</p>
										<p>공공질서 및 미풍양속에 위반되는 내용의 게시물 유포 등에 해당하는 경우</p>
										<p>범죄 행위에 결부된다고 인정되는 내용인 경우</p>
										<p>회사 또는 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우</p>
										<p>본 조 제2항 소정의 세부이용지침을 통하여 회사에서 규정한 게시기간을 초과한 경우</p>
										<p>불필요하거나 승인되지 않은 광고, 판촉물을 게재하는 경우</p>
										<p>기타 관계 법령 및 회사의 지침 등에 위반된다고 판단되는 경우</p>
									</div>
								</li>
								<li>회사는 게시물에 관련된 세부이용지침을 별도로 정하여 시행할 수 있으며, 회원은 그 지침에 따라 각종 게시물을 등록하거나 삭제하여야 합니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제17조 (상품의 지적재산권)</div>
							<ul class="number">
								<li>판매회원이 본 서비스를 이용하여 판매하는 상품의 저작권 기타 지적재산권은 차가운와 판매회원의 계약에 따라 결정됩니다. 단, 해당 상품이 타인의 저작권 기타 권리를 침해하는 경우 그에 대한 책임은 판매회원 본인이 부담합니다.</li>
								<li>구매회원은 본 서비스를 통해 판매회원으로부터 상품의 사용권을 구매하는 것이며 상품의 저작권 기타 지적재산권을 양도받는 것이 아닙니다. 판매회원의 명시적인 허락 없이 상품의 무단복제?전송 등 저작권을 침해하는 행위는 허용되지 않습니다.</li>
								<li>구매회원은 구매한 상품을 가공, 재판매, 홍보 등 영리목적으로 이용하거나 제3자에게 이용하게 할 수 없습니다.</li>
							</ul>
						</dd>
						<dd>
							<div>제18조(게시물의 지적재산권)</div>
							<ul class="number">
								<li>회원이 본 서비스 내에 게시한 게시물에 대한 저작권 및 관련 책임은 해당 회원에게 있으며 회사는 회원이 본 서비스 내에 게시한 게시물이 타인의 저작권 등 지적재산권을 침해하더라도, 이에 대한 민?형사상의 책임을 부담하지 않습니다. 만일 회원이 타인의 저작권 등 지적재산권을 침해하였음을 이유로 회사가 타인으로부터 손해배상 청구 등 이의 제기를 받은 경우 회원은 회사의 면책을 위하여 노력하여야 하며, 회사가 면책되지 못한 경우 회원은 그로 인해 회사에 발생한 모든 손해를 부담하여야 합니다.</li>
								<li>회사는 게시한 회원의 동의 없이 게시물을 본 서비스 내 이용 외에 다른 목적으로 사용할 수 없습니다. 단, 회사의 본 서비스를 홍보하기 위한 목적으로 미디어, 통신사 등에게 이용자의 게시물 내용을 보도, 방영하게 하는 경우에는 회원의 동의를 구합니다.</li>
								<li>회사는 회원이 탈퇴하거나 적법한 사유로 해지 된 경우 해당 회원이 게시하였던 게시물을 삭제할 수 있습니다.</li>
								<li>회원은 본 서비스를 이용하여 얻은 정보를 가공, 판매하는 행위 등 본 서비스에 게재된 자료를 영리목적으로 이용하거나 제3자에게 이용하게 할 수 없으며, 게시물에 대한 저작권 침해는 관계 법령의 적용을 받습니다.</li>
							</ul>
						</dd>
					</li>
				</ul>
			</div>
