{% load static %}
{% include "include/head.html" %}
{% include "include/header_02.html" %}
{% include "include/sub_visual.html" %}
{% include "include/sub_nav.html" %}

<!-- content -->
<section class="sub_container" >
	<div class="wrap">
		{% include "include/title.html" %}
		<div class="sub_contents">



			<!-- 도움말 -->

			<div class="faq_list ">
				<dl>
					<dt>
						<p class="heading">Q</p>
						<p class="title">
						- 차가운 AI 마케팅 연구소는 무슨 일을 하는 곳인가요?
						</p>
						<p class="view"></p>
					</dt>
					<dd id="" style="display: none;">
						<p>
						차가운 AI 마케팅 연구소의 초기 창업 마인드셋은 마케팅, 광고를 ‘대행’해주는 것이 아니라 사용자가 ‘직접’ 마케팅 작업을 하는 과정을 조금 더 쉽고 효율적으로 만들어 줄 수 있는 인공지능 알고리즘을 개발하는 것이었습니다. 수십년간 프로그램 개발을 해온 개발자와 마케팅에 관심이 많은 갓 졸업한 경영학도가 머리를 맡대어 개발한 차가운 AI는 우선적으로 ‘이메일 마케팅’의 기술적 상향 평준화를 우리의 서비스를 통해 이루고자 하는 제 1목표를 갖고 있습니다. 추후 다양한 기술 개발로 AI 마케팅 서비스와 사업을 확장시켜 어렵고 복잡한 마케팅 진입장벽을 낮춘 대표적인 기업으로 자리매김하는 것이 최종 목표라고 할 수 있겠습니다.
						</p>
					</dd>
				</dl>
				<dl>
					<dt>
						<p class="heading">Q</p>
						<p class="title">
						- 차가운 서비스의 모식도를 알려주세요.
						</p>
						<p class="view"></p>
					</dt>
					<dd id="" style="">
						<p>
						<br>
						<br>
						</p>
					</dd>
				</dl>
				<dl>
					<dt>
						<p class="heading">Q</p>
						<p class="title">
						- 차가운 AI는 어떤 알고리즘을 가지고 있나요? 
						</p>
						<p class="view"></p>
					</dt>
					<dd id="" style="">
						<p>
							<br>
							<br>
						</p>
					</dd>
				</dl>
				<dl>
					<dt>
						<p class="heading">Q</p>
						<p class="title">
						- AI를 마케팅에 접목시키는 의의는 무엇인가요?
						</p>
						<p class="view"></p>
					</dt>
					<dd id="" style="">
						<p>
							<br>
							<br>
						</p>
					</dd>
				</dl>
				<dl>
					<dt>
						<p class="heading">Q</p>
						<p class="title">
						- 이메일 마케팅의 효과가 궁금해요
						</p>
						<p class="view"></p>
					</dt>
					<dd id="" style="">
						<p>
							1. B2B 마케팅 담당자의 93%가 콘텐츠를 배포하기 위해 이메일을 사용합니다.
							<br><br><br>
							2. 활성상태로 설정된 이메일 계정은 2019년까지 56억 개에 이를 것입니다.
							<br><br><br>
							3. B2B 사업을 영위하는 기업의 83%가 콘텐츠 마케팅 프로그램의 하나로 뉴스레터를 발행하고 있습니다.
							<br><br><br>
							4. B2B 마케팅 담당자의 40%가 이메일로 발행하는 뉴스레터가 콘텐츠 마케팅의 필수 성공 요소라고 말했습니다.
							<br><br><br>
							5. 2019년 한 해동안 미국에서는 이메일 광고에 3억5천만 달러 이상을 지출했던 것으로 추정됩니다.
							<br><br><br>
							6. 전체 이메일의 16%는 수신 메일함에 들어가지도 못합니다.
							<br><br><br>
							7. 모바일 환경에서 이메일을 확인하는 계정이 전체 계정의 46%를 차지했습니다.
							<br><br><br>
							8. 직장인의 35%가 모바일 기기에서 이메일을 확인합니다.
							<br><br><br>
							9. 애플의 아이폰은 29%라는 수치를 보여주며 이메일 확인에 가장 자주 사용되는 모바일 클라이언트가 되었습니다. 구글의 지메일은 27%로 아이폰과 근소한 차이를 보였습니다.
							<br><br><br>
							10. 밀레니엄 세대의 73%는 이메일을 통한 비즈니스 커뮤니케이션을 선호합니다.
							<br><br><br>
							11. 미국에서 거주하는 응답자의 50% 이상이 하루에 10번 이상 개인 이메일 계정을 확인합니다. 동시에 브랜드의 새로운 소식을 받는 방법으로 이메일을 선호했습니다.
							<br><br><br>
							12. 소비자의 99%가 매일 이메일을 확인합니다.
							<br><br><br>
							13. 업계 종사자의 80%는 이메일 마케팅이 고객 유지율(리텐션, retention)을 상승시킨다고 생각합니다.
							<br><br><br>
							14. 응답자의 59%가 이메일 마케팅이 구매 결정에 영향을 주었다고 말했습니다.
							<br><br><br>
							15. 가장 많이 오픈된 이메일은 취미와 관련된 메일이었으며, 27.35%의 오픈율을 보여주었습니다.
							<br><br><br>
							16. 마케팅 담당자의 59% 이상이 이메일이 ROI의 가장 큰 원천이라고 답했습니다.
							<br><br><br>
							17. 이메일을 작성하며 제목에 이모티콘을 사용하는 브랜드의 56%가 이모티콘을 사용하지 않는 브랜드보다 높은 오픈율을 보였습니다.
							<br><br><br>
							18. 세그먼트 형 캠페인을 사용하는 마케팅 담당자는 매출의 760% 상승을 경험했습니다.
							<br><br><br>
							인터넷에 좋은 글이 있어서 올려 보았습니다.
						</p>
					</dd>
				</dl>
				<dl>
					<dt>
						<p class="heading">Q</p>
						<p class="title">
						- AI 마케팅의 광고 효과와 강점이 궁금해요
						</p>
						<p class="view"></p>
					</dt>
					<dd id="" style="">
						<p>
							<br>
							<br>
						</p>
					</dd>
				</dl>
				<dl>
					<dt>
						<p class="heading">Q</p>
						<p class="title">
						- 차가운 AI 마케팅 연구소의 앞으로의 계획이 궁금해요
						</p>
						<p class="view"></p>
					</dt>
					<dd id="" style="">
						<p>
						현재는 이메일 마케팅을 효율적으로 하기 위한 AI 툴을 지속 개발 및 운영 중에 있지만 사용자가 늘어나고 회사를 운영하기 위한 기반이 점차 자리잡히게 되면 더욱 다양한 방식으로 인공지능 관련 기술을 개발해 나갈 것입니다. 기대해주세요.
						</p>
					</dd>
				</dl>
				<dl>
					<dt>
						<p class="heading">Q</p>
						<p class="title">
						- 차가운 레코멘더를 이 분들께 추천합니다.
						</p>
						<p class="view"></p>
					</dt>
					<dd id="" style="">
						<p>
						1. 보유한 회원들만으로는 마케팅하기 어렵거나 회원 DB가 부족해 더 많은 수의 잠재 고객을 향한 마케팅이 필요한 모든 분들
						<br><br><br>
						2. 페이스북 타겟 마케팅, 검색 광고, SNS 피드 광고, GDN 타겟 광고, 인플루언서 광고 등 주요 타겟의 니즈 해결에만 중점을 둔 공적영역의 마케팅에 한계를 느낀 분들
						<br><br><br>
						3. 개인 또는 소수의 직원들만으로는 알아내기 어려운 ‘잠재 고객의 e-mail’이라는 사적영역으로 원하는 메시지를 보내어 잠재 고객이 진짜 원하는 것을, 기업이 공개적으로 제안하기 어려웠던 제안이나 정보를 제공해 개개인의 세세한 니즈를 충족시키고자 하는 분들
						<br><br><br>
						</p>
					</dd>
				</dl>
			</div>

			<!-- 도움말 -->


		</div>
	</div>
</section>
<!-- //content -->


<script type="text/javascript">
$(document).ready(function() {
	$(".faq_list dt").click(function (){
		var vol = $(".faq_list dt").index(this);
		$(".faq_list dd:eq("+vol+")").slideToggle('fast');
		$(".faq_list dd").not(":eq("+vol+")").slideUp('fast');
	});
});
</script>


{% include "include/footer.html" %}
{% include "include/foot.html" %}
