{% load static %}
{% include "include/head.html" %}
{% include "include/header_02.html" %}
{% include "include/sub_visual.html" %}


<!-- content -->
<section class="sub_container" >
	<div class="wrap">
		<div class="sub_contents">

			<div class="solution blog">

				<div class="title">
					<h2>블로그 키워드 검색을 통해 특정상품에<br> 대한 트랜드를 파악할 수 있다면?</h2>
					<p>
						블로그, 카페 등에서 특정 상품에 관심을 보이는 유저들을 차가운넷이 가지고 있는 인공지능 알고리즘을<br>
						통해 해당 상품에 대한 키워드 트랜드와 아이디들을 찾아드립니다.
					</p>
				</div>
				<img src="{% static "img/contents/solution03.jpg" %}">

				<div class="point">
					<ul>
						<li>
							<dl>
								<dt>
									<span>STEP 01</span>
									<img src="{% static "img/contents/arr_down.gif" %}">
								</dt>
								<dd>
									상품에 대한 소개, 품평, 리뷰, 후기, 댓글들을 블로그, 카페에 포스팅
								</dd>
							</dl>
						</li>
						<li>
							<dl>
								<dt>
									<span>STEP 02</span>
									<img src="{% static "img/contents/arr_down.gif" %}">
								</dt>
								<dd>
									상품에 관심과 흥미를 보이는 유저들 추출
								</dd>
							</dl>
						</li>
					</ul>
				</div>


					<div class="arrow_ani">
						<div class="chevron"></div>
						<div class="chevron"></div>
						<div class="chevron"></div>
					</div>

					<div class="step">
						<ul>
							<li>
								<dl>
									<dt>
										<img src="{% static "img/contents/solution04.jpg" %}">
									</dt>
									<dd>
										<span>Point 01</span>
										<p class="tit">차가운 AI 알고리즘</p>
										<p>차가운 AI 알고리즘을 통해 상품에 관심을 보인 유저들을 추출해 줍니다.</p>
									</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>
										<img src="{% static "img/contents/solution05.jpg" %}">
									</dt>
									<dd>
										<span>Point 02</span>
										<p class="tit">관심 유저 추출</p>
										<p>블로그, 카페에서 특정 상품에 대한 소개, 사용 후기, 사진, 동영상 등을 올린 사람들은 해당 상품에 관심을 가지고 있다고 할 수 있습니다.</p>
									</dd>
								</dl>
							</li>
							<li>
								<dl>
									<dt>
										<img src="{% static "img/contents/solution06.jpg" %}">
									</dt>
									<dd>
										<span>Point 03</span>
										<p class="tit">마케팅 활용</p>
										<p>차가운 AI가 추천한 구글, 페이스북등 과 같은 SNS 아이디들을 디지털 마케팅에 활용할 수 있습니다.</p>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
			</div>

		</div>
	</div>
</section>
<!-- //content -->


{% include "include/footer.html" %}
{% include "include/foot.html" %}
