{% load static %}
{% include "include/head.html" %}
{% include "include/header_02.html" %}
{% include "include/sub_visual.html" %}
{% include "include/sub_nav.html" %}


<!-- content -->
<section class="sub_container" >
	<div class="wrap">
		{% include "include/title.html" %}
		<div class="sub_contents">

			<div class="guide_table manage">
				<ul>
					<li>
						<dd>
							<div>1. 일반원칙</div>
							<p>본 운영정책은 약관에서 정한 사항을 보충하는 역할을 하며, 이용자의 약관위반 행위에 대한 효과(이하 “제재”라 함), 제재에 대한 이의 절차 등 회사의 서비스 운영 기준과 이용자가 서비스를 이용하면서 알아야 할 사항을 담고 있습니다. </p>
							<p>이 운영정책은 차가운 서비스에 적용됩니다.</p>
							<p>차가운은 더 나은 서비스 제공을 위하여 수시로 운영정책을 변경할 수 있으며, 변경되는 내용을 이용자가 쉽게 알 수 있는 방법(홈페이지 공지, 이메일 통보 등)으로 고지합니다.</p>
						</dd>
						<dd>
							<div>2. 제재∙신고 절차</div>
							<p class="none">일반적인 약관위반 행위에 대한 제재∙신고 절차는 아래와 같습니다.</p>
							<p>약관위반 행위 → (신고) → 관리자 조사 → (사전고지) → 제재 → 이의 → 이의 처리 결과 통보</p>
							<p>신고 후 조사에는 약 7일이 소요되며, 이의에 대한 재조사는 최대 2주의 기간(단, “계정도용”은 평균 15일)이 소요됩니다.</p>
							<p>회사는 이용자의 신고를 접수한 후 48시간 내에 진행상황에 대한 답변을 드리기 위해 노력 합니다. 단, 사실 관계 파악에 시간이 소요될 경우 답변 기한은 최대 7일까지 연장될 수 있습니다.</p>
							<p>회사는 제재 시 제재내용, 제재사유, 이의절차 등에 대하여 이메일, 메시지 등을 통하여 사전 고지합니다. 단, 약관에서 별도로 정한 일부 행위에 대해서는 사후고지로 대체할 수 있습니다.</p>
							<p>권리침해 게시물에 대한 게시중단/삭제 요청 및 이의 절차는 아래와 같습니다.</p>
							<p>(권리자의 요청) → 게시물 삭제 또는 블라인드 등 임시조치 → 권리자 및 게시자에 대한 고지 → 게시자의 이의 제기 → 이의 처리 결과 통보</p>
							<p>게시물로 인해 권리의 침해를 받은 자는 게시판의 신고 기능을 통해 권리침해 게시물을 신고할 수 있습니다. 권리침해 게시물에 대한 신고 방법 및 절차 관련 자세한 내용은 1:1문의 또는 신고센터(링크 기재)를 참고하시기 바랍니다.</p>
						</dd>
						<dd>
							<div>3. 회원 권리 및 의무</div>
							<ul class="number">
								<li>
									신고∙문의 및 이의제기 방법
									<div class="number_sub">
										<p>신고하기 : 댓글 우측에 있는 신고하기를 통해 부적절한 댓글을 사유와 함께 신고할 수 있습니다.</p>
										<p>1:1 문의 : 이용자는 홈페이지의 1:1문의를 통해 차가운 서비스를 포함하여 계정과 관련한 각종 문의∙요청∙건의, 제재와 관련된 이의제기를 할 수 있습니다.</p>
									</div>
								</li>
								<li>
									이의제기의 효과
									<div class="number_sub">
										<p>이용자의 이의제기가 합리적이라고 판단될 경우 회사는 즉시 이용자에게 적용된 제재를 해제합니다.</p>
									</div>
								</li>
							</ul>
						</dd>
						<dd>
							<div>4. 제재 기준 및 종류</div>
							<ul class="hangul">
								<li>
									제재 사유에 해당되는 활동
									<div class="number_sub">
										<p class="none">1) 아래 사유에 해당하는 댓글, 닉네임 외 기타 활동</p>
										<ul class="deep">
											<li>
												<dt>명예 훼손 활동</dt>
												<dd>- 본인/타인의 개인정보(신상정보, 위치, 연락처, 이메일 등)를 포함</dd>
												<dd>- 다른 사람에게 성적 수치심을 주거나 혐오감, 불쾌감을 유발</dd>
												<dd>- 다른 사람을 비방하거나 음해 (인신공격, 루머 포함)</dd>
												<dd>- 특정 개인 및 회사에 대한 허위 사실을 악의적으로 유포</dd>
												<dd>- 게시판 운영자나 회사의 직원을 포함한 다른 사람을 사칭 *</dd>
											</li>
											<li>
												<dt>저작권 침해 활동</dt>
												<dd>- 회사 또는 제3자의 권리(저작권, 특허 등)를 침해</dd>
											</li>
											<li>
												<dt>반사회적 활동</dt>
												<dd>- 특정 사상/종교적 색채 짙은 경우</dd>
												<dd>- 인종이나 성, 특정 지역을 비하하거나 차별</dd>
												<dd>- 폭력, 비행, 사행심을 조장</dd>
											</li>
											<li>
												<dt>상업적 활동</dt>
												<dd>- 영리 목적의 광고 (경품 지급, 상품 광고, 사이트 홍보) *</dd>
												<dd>- 불법 프로그램, 사설 서버 등을 안내하거나 광고 *</dd>
												<dd>- 현금거래 관련 *</dd>
											</li>
											<li>
												<dt>기타불량 활동</dt>
												<dd>- 악성코드가 포함되어 있거나 시스템 장애를 유도 *</dd>
												<dd>- 약관 위반 행위와 관련</dd>
												<dd>- 게시판 성격과 무관하거나 커뮤니티를 저해</dd>
												<dd>- 기타 약관, 각 게시판 정책 및 관련 법령에서 금지하는</dd>
												<dd>* 해당하는 활동들은 적발되면 경고 없이 서비스 전체가 영구 제한될 수 있습니다.</dd>
											</li>
										</ul>
										<p class="none">2) 짧은 시간에 많은 양의 댓글을 등록하거나 동일한 내용의 댓글을 반복적으로 게시해 운영을 방해하는 행위</p>
									</div>
								</li>
								<li>
									제재의 종류
									<div class="number_sub">
										<p class="none">1) 서비스 일부 제한(댓글)</p>
										<ul class="deep">
											<li>
												<dt>아래에 해당하는 경우 차가운 서비스의 이용이 한시적으로 일부 제한됩니다.</dt>
												<dd>- 신고하기 기능을 통해 한 댓글에 대해 누적 3번 이상 신고가 접수될 경우 담당자가 해당 댓글을 확인한 후 댓글 이용 및 신고하기 기능을 아래와 같이 제한할 수 있습니다.</dd>
											</li>
										</ul>

										누적경고 테이블

										<ul class="deep">
											<li>
												<dd>- 동일 활동에 대해 3번 이상 제재가 누적 될 경우 차가운 서비스 영구적으로 서비스 이용이 제한됩니다.</dd>
												<dd>- 제재 사유에 해당되는 내용이 포함된 댓글에 대해 회사는 사전 고지 없이 삭제, 이동, 읽기 금지 등의 조치를 취할 수 있습니다.</dd>
												<dd>- 허위 신고, 부당 신고가 3번 이상 확인될 시 신고자도 서비스 일부 제한 대상에 해당됩니다.</dd>
												<dd>- 제재 사유에 해당하는 닉네임은 관리자가 닉네임을 임의로 변경할 수 있습니다.</dd>
											</li>
										</ul>
										<p class="none">2) 서비스 전체 제한 (결제/로그인 포함)</p>
										<ul class="deep">
											<li>
												<dt>제재 사유 중 아래에 해당하는 경우에는 이용자에게 사전 고지 없이 차가운 서비스의 이용을 영구적으로 전체 제한할 수 있습니다.</dt>
												<dd>- 악성코드가 포함되어 있거나 시스템 장애를 유도</dd>
												<dd>- 불법 프로그램, 사설 서버 등을 안내하거나 광고</dd>
												<dd>- 현금거래와 관련</dd>
												<dd>- 게시판 운영자나 회사의 직원을 포함한 다른 사람을 사칭</dd>
												<dd>- 영리 목적의 광고 (경품 지급, 상품 광고, 사이트 홍보)</dd>
											</li>
										</ul>


									</div>

								</li>
							</ul>
						</dd>

					</li>
				</ul>
			</div>







		</div>
	</div>
</section>
<!-- //content -->


{% include "include/footer.html" %}
{% include "include/foot.html" %}
