  <div class="guide_table privacy">
  <ul>
    <li>
      <dt>
        <p>
          "(주)차가운"는 (이하 '회사'는) 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다.
          회사는 개인정보처리방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다.
          회사는 개인정보처리방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
        </p>
        <p class="f_bold">본 방침은 : 2020 년 05 월 1 일 부터 시행됩니다.</p>
      </dt>
      <dd>
        <div>1. 수집하는 개인정보의 항목</div>
        <ul class="number">
          <li>개인정보 항목 : 이름, 연락처, 이메일</li>
          <li>수집방법 : 차가운 홈페이지 (결제폼)</li>
          <li>
            보유근거
            <div class="number_sub">
              <p>① 결제를 이용시 회신을 위한 정보 수집</p>
              <p>② 마케팅정보 제공을 위한 정보 수집</p>
            </div>
          </li>
        </ul>
      </dd>
      <dd>
        <div>2. 개인정보의 수집 및 이용 목적</div>
        <p>수집한 개인정보는 요청하신 문의에 대한 상담 및 마케팅 정보 제공에만 활용 합니다.</p>
      </dd>
      <dd>
        <div>3. 개인정보의 보유 및 이용 기간</div>
        <ul class="number">
          <li>정보 수집 및 이용 목적이 달성된 후 문의 내역관리를 위하여 문의 내용과 개인정보 입력항목에 대해서는 1년간 보유 이후 해당 정보를 일괄 파기 합니다.</li>
          <li>종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각합니다.</li>
          <li>그 밖의 사항은 개인정보취급방침을 준수합니다.</li>
        </ul>
      </dd>
      <dd>
        <div>4. 개인정보 수집 동의 거부 권리</div>
        <p>서비스 제공을 위하여 기본 정보를 수집하고 있으며, 제공을 원하지 않을 경우 수집하지 않으며, 미 동의 시 서비스 이용이 제한됩니다.</p>
      </dd>
      <dd>
        <div>5. 수집한 개인정보의 제공 및 위탁</div>
        <ul class="number">
          <li>
            회사는 고객님의 개인정보를 원칙적으로 외부에 제공 또는 위탁하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.
            <div class="number_sub">
              <p>① 결제를 이용시 회신을 위한 정보 수집</p>
              <p>② 마케팅정보 제공을 위한 정보 수집</p>
            </div>
          </li>
        </ul>
      </dd>
      <dd>
        <div>6. 정보주체의 권리, 의무 및 그 행사방법은 다음과 같은 권리를 행사 할 수 있습니다.</div>
        <li>
          정보주체는 회사에 대해 언제든지 다음 각 호의 개인정보 보호 관련 권리를 행사할 수 있습니다.
          <div class="number_sub">
            <p>① 개인 정보 열람 요구</p>
            <p>② 오류 등이 있을 경우 정정 요구</p>
            <p>③ 삭제 요구</p>
            <p>④ 처리정지 요구</p>
          </div>
        </li>
        <li>정보주체가 개인정보의 오류 등에 대한 정정 또는 삭제를 요구한 경우에는 당해 개인정보를 이용하거나 마케팅정보를 제공하지 않습니다.</li>
        <li>개인정보보호책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이 조치하겠습니다.</li>
      </dd>
      <dd>
        <div>7. 개인정보 자동수집 장치의 설치 운영</div>
        <p>회사는 귀하의 정보를 수시로 저장하고 찾아내는 “쿠키(cookie)”등을 운용하지 않고 있습니다.</p>
      </dd>
      <dd>
        <div>8. 고객 개인정보보호 책임자</div>
        <p>
          회사는 고객님의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인정보보호책임자를 두고 있습니다.
          개인정보와 관련한 모든 문의사항은 아래의 개인정보보호책임자에게 연락 주시기 바랍니다. 고객님의 문의사항에 신속하고 성실하게 답변해드리겠습니다.
        </p>
        <p class="mat20">
          ▶개인정보보호 책임자<br>
          부서명 : 마케팅팀<br>
          성명 : 김연섭 이사<br>
          연락처 : 010-3930-0624 / chagaunnet@gmail.com
        </p>
      </dd>
      <dd>
        <div>9. 개인정보 처리방침 변경</div>
        <p>이 개인정보처리방침은 시행일보부터 적용되며, 법령 및 방침에 따른 변경내용의 추가, 삭제 및 정정이 있는 경우에는 변경사항의 시행 7일 전부터 공지사항을 통하여 고지할 것입니다. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
        <ul class="number">
          <li>개인분쟁조정위원회 (www.1336.or.kr/1336)</li>
          <li>정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)</li>
          <li>대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600)</li>
        </ul>
      </dd>
    </li>
  </ul>
</div>
